body {
  // min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  // background-color: rgba(2, 2, 104, 0.158);
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(186, 190, 245, 1) 0%,
    rgba(192, 192, 245, 1) 33.1%,
    rgba(218, 203, 246, 1) 90%
  );
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.section1 {
  // background-image: url("../media/section1.jpg");
  background-size: cover;
  background-color: white;
  height: 30vh;
  width: 100vw;
  font-size: 1.5em;
  display: flex;
  justify-content: center;

  .trip-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .departure {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }
    .date1 {
      border: 1px solid black;
      height: 5vh;
      width: 25vw;
      font-size: 1em;
      padding: 5px;
    }

    .form {
      // width: 80%;
      // margin: 10vh;
      button {
        width: 120px;
        background-color: rgb(2, 2, 104);
        color: white;
        font-size: 0.7em;
        margin-top: 10px;
        padding: 10px;
      }
      .city-text {
        border: 1px solid black;
        font-size: 1em;
        width: 25vw;
        height: 5vh;
        padding: 5px;
      }
    }
    .form :hover {
      cursor: pointer;
    }
  }
}

.section2 {
  // background-image: url("../media/section1.jpg");
  // background-size: cover;
  visibility: hidden;
  // background-image: radial-gradient(
  //   circle farthest-corner at 10% 20%,
  //   rgba(186, 190, 245, 1) 0%,
  //   rgba(192, 192, 245, 1) 33.1%,
  //   rgba(218, 203, 246, 1) 90%
  // );
  min-height: 50vh;
  display: flex;
  justify-content: center;
  font-size: 1.3em;

  .section2-cont {
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // border: 1px solid black;
    width: 70vw;
    // height: 50vh;

    .photo {
      // border: 1px solid black;
      text-align: center;
      width: auto;
      height: auto;

      img {
        width: 40%;
        height: 50%;
      }
    }
  }
}
.section3 {
  visibility: hidden;
  // background-image: url("../media/section3.jpg");
  // background-size: cover;
  // background-image: radial-gradient(
  //   circle farthest-corner at 10% 20%,
  //   rgba(186, 190, 245, 1) 0%,
  //   rgba(192, 192, 245, 1) 33.1%,
  //   rgba(218, 203, 246, 1) 90%
  // );
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 1.3em;
    // margin: 20px;
    // padding: 20px;
  }

  .weather-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;

    // flex-wrap: wrap;
    .sub-cont {
      width: 10vw;
      height: 15vh;
      margin: 5px;
      padding: 10px;
      text-align: center;
      background-color: #e6e6fa;
    }
  }
}

// Media Query
@media (max-width: 1100px) {
  body {
    font-size: 1.3em;
  }

  .section1 {
    height: 30vh;

    .trip-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .departure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .date1 {
        height: 4vh;
        width: 70vw;
        font-size: 1em;
        padding: 5px;
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .city-text {
          font-size: 1em;
          width: 70vw;
          height: 4vh;
          padding: 5px;
        }
      }
    }
  }

  .section2 {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;

    .section2-cont {
      margin: 50px;

      .headings {
        font-size: 0.8em;
      }

      .photo {
        text-align: center;
        width: auto;
        height: auto;

        img {
          width: 70%;
          height: 70%;
        }
      }
    }
  }

  .section3 {
    visibility: hidden;
    min-height: 100vh;

    h2 {
      text-align: center;
      margin: 10px;
      padding: 10px;
    }
    .forecast-heading {
      font-size: 1em;
    }

    .weather-cont {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .sub-cont {
        width: 40vw;
        height: 15vh;
        margin: 5px;
        padding: 5px;
        text-align: center;
        color: grey;
      }
    }
  }
}
